* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #727ac3, #692037);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 400px;
  background: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #1d2671;
}

.box {
  margin-bottom: 25px;
}

h2 {
  margin-bottom: 10px;
  color: #333;
}

input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background: #1d2671;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 8px;
}

button:hover {
  background: #c33764;
}

#message {
  font-weight: bold;
  color: green;
  margin-top: 10px;
}

.link-text {
  margin-top: 18px;
  font-size: 14px;
}

.link-text a {
  color: #c33764;
  text-decoration: none;
  font-weight: bold;
}

.link-text a:hover {
  text-decoration: underline;
}

/* Password eye button */
.password-box {
  position: relative;
  width: 100%;
}

.password-box input {
  width: 100%;
  padding-right: 45px;
}

.password-box span {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}